@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "robotoregular", sans-serif;
    /* border: 2px solid red; */
}

.background-container > .logo-container > p {
    font-family: "norsebold", sans-serif;
}

body {
    display: flex;
    /* width: 75vw;
    margin: 0 auto; */
}

.background-container {
    width: clamp(250px, 500px, 600px);
    background-image: url(/assets/leaf-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 12px;
}

.background-container .logo-container {
    margin-top: 200px;
    display: flex;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 96px;
    padding: 16px;
    gap: 12px;
}

.background-container img {
    width: 100px;
    height: auto;
}

.background-container > p {
    color: white;
    text-align: center;
    bottom: 0;
    margin: 0 auto;
}

.background-container a {
    color: white;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content-container > * {
    flex: 1;
    padding: 52px;
}

.content-container .top-content, .content-container .bottom-content {
    background-color: rgb(248, 248, 248);
}


.content-container .top-content {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 24px;
    z-index: 2;
}


.content-container .bottom-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
}

.content-container .bottom-content button {
    padding: 12px 42px;
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.content-container .bottom-content button:hover {
    cursor: pointer;
}

.content-container .bottom-content button:active {
    cursor: grabbing;
}

.content-container .bottom-content p a {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}

.content-container .form-content {
    z-index: 1;
    border-top: .1px solid rgba(128, 128, 128, 0.1);
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.275);
}

.content-container .form-content form {
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
    max-width: 560px;
}

.content-container .form-content form > p {
    font-size: 36px;
    width: 100%;
}

/* .content-container .form-content div[class$="column-controls"] {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
} */

.content-container .form-content div[class$="row-controls"] {
    display: flex; 
    flex-flow: row wrap;
    gap: 24px;
}

.content-container .form-content div[class$="-container"] {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 250px;
}

.content-container .form-content div[class$="-container"] label {
    font-size: 1.15rem;
}

.content-container .form-content div[class$="-container"] input {
    width: 100%;
    line-height: 1.5rem; 
    font-size: 1rem;
    padding: 6px 12px;
}

.content-container .form-content input {
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 4px;
    appearance: none;
}

.content-container .form-content input:focus {
    outline: none;
    border-color: rgb(0,0,150);
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, .0275);
}

.content-container .form-content input:invalid {
    outline: none;
    border-color: rgb(150,0,0);
}